name: CI
on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build

    - name: Run tests
      run: cargo test

    - name: Upload coverage reports to Codecov
      run: bash <(curl -s https://codecov.io/bash)
